/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Estilos Globais Customizados (mínimo necessário) */
body {
    /* Define uma cor de fundo suave para fora da aplicação */
    background-color: #f3f4f6;
    min-height: 100vh;
}

/* Opcional: Estilo para links não clicáveis ou desabilitados */
.disabled-link {
    cursor: not-allowed;
    opacity: 0.6;
}